rset "utf-8";
/* CSS Document */


.outer{
        margin:0px;
        padding:0px;
}
#menu {
        width: 180px;
        border-style: solid solid none solid;
        border-color: #94AA74;
        border-size: 1px;
        border-width: 1px;
        }
#menu ul{
        list-style:none;
        padding:0px;
        margin:0px;
        }

#menu li a {
        height: 32px;
        voice-family: "\"}\"";
        voice-family: inherit;
        height: 24px;
        text-decoration: none;
        font-weight:normal;
        }
#menu li a:link, #menu li a:visited {
        color: #5E7830;
        display: block;
        background: url(../images/menu1.gif);
        background-repeat:no-repeat;
        padding: 8px 0 0 10px;
        }

#menu li a:hover {
        color: #26370A;
        background: url(../images/menu1.gif) 0 -32px;
        background-repeat:no-repeat;
        padding: 8px 0 0 10px;
        }

#menu li a:active {
        color: #26370A;
        background: url(../images/menu1.gif) 0 -64px;
        background-repeat:no-repeat;
        padding: 8px 0 0 10px;
        }

#table { background:#D1DEC9;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 12px verdana, arial, helvetica, sans-serif;
}
#caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
#td, th { color:#363636;
 padding:.4em;
}
#tr { border:1px dotted gray;
}
#thead th, tfoot th { background:#5C443A;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
#tbody td a { color:#363636;
 text-decoration:none;
}
#tbody td a:visited { color:gray;
 text-decoration:line-through;
}
#tbody td a:hover { text-decoration:underline;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
#tbody th a:hover { color:#363636;
}
#tbody td+td+td+td a { background-image:url(../images/bullet_blue.png);
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
#tbody td+td+td+td a:visited { background-image:url(/bullet_white.png);
 background-position:left center;
 background-repeat:no-repeat;
}
#tbody th, tbody td { text-align:left;
 vertical-align:top;
}
#tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
#tbody tr:hover { background:#99BCBF;
 border:1px solid #03476F;
 color:#000000;
}	

#cabezote {
	position:absolute;
	width:100%;
	height:0px;
	z-index:0;
	left: 0px;
	top: 0px;
}
.style3 {font-family: Calibri; font-size: 13px; color: #000000}
.style1 {font-size: 10px}
.style2 {font-size: 12px;}
.style6 {font-family: Calibri; font-size: 10px; }
.style7 {font-family: Arial; font-size: 13px; color: #000000}
.style8 {font-family: Arial; font-size: 12px; color: #000000}
.style9 {font-family: Arial; font-size: 10px; color: #000000}
.style10 {font-family: Arial; font-size: 15px; color: #000000}

.tabla {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-align: right;
width: 50px;

}

.table th {
padding: 5px;
font-size: 16px;
background-color: #83aec0;
background-image: url(fondo_th.png);
background-repeat: repeat-x;
color: #FFFFFF;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #558FA6;
border-bottom-color: #558FA6;
font-family: “Trebuchet MS”, Arial;
text-transform: uppercase;
}
